body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#link {
    position: fixed;
    /* Fix the link to the viewport */
    bottom: 20px;
    left: 20px;
    background: #fff;
    color: #333;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1;
    /* Ensure the link is above other content */
}

#link:hover {
    background: #ddd;
}